name: Build & Run 3 Containers

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build_and_run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        docker build -t local-selenium-videozz .
    
    - name: Run 3 containers in parallel
      run: |
        docker run --rm --name selenium_1 --shm-size=2g local-selenium-videozz &
        docker run --rm --name selenium_2 --shm-size=2g local-selenium-videozz &
        docker run --rm --name selenium_3 --shm-size=2g local-selenium-videozz &
        wait


    - name: Show running containers
      run: docker ps -a
